Host *
    #disable host key checking: avoid asking for the keyprint authenticity
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    #enable hashing known_host file
    HashKnownHosts yes
    #IdentityFile allows to specify exactly which private key I wish to use for authentification
    IdentityFile ../docker-env/id_rsa

Host server1.test
    HostName localhost
    User root
    Port 2224

Host server2.test
    HostName localhost
    User root
    Port 2225
